/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/.idea/
deploy.php
/web/uploads/rooms/
/web/uploads/games/
/web/uploads/shares/
!/web/uploads/rooms/default_thumbnail.jpg
!/web/uploads/rooms/default_logo.png
/app/spool
/web/robots.txt
.directory
!/web/uploads/rooms/genesis_slide_1.jpg
!/web/uploads/rooms/genesis_slide_2.jpg
!/web/uploads/rooms/genesis_slide_3.jpg
!/web/uploads/rooms/genesis_thumbnail.jpg
!/web/uploads/rooms/genesis_logo.png
!/web/uploads/rooms/thief_1.jpg
!/web/uploads/rooms/thief_2.jpg
!/web/uploads/rooms/thief_logo.png

