{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <a class="btn btn-danger pull-right" href="{{ path('admin_cities_list') }}">Cancel</a>
    <h1 class="page-header">Add City</h1>
    {{ include('AdminBundle:City:_form.html.twig') }}
{% endblock %}

