{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block content %}
    <h1 class="page-header">Notification templates</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Type</th>
                <th>Event</th>
                <th>Recipient</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for note in notifications %}
                <tr>
                    <td>{{ note.type }}</td>
                    <td>{{ note.event }}</td>
                    <td>{{ note.recipient }}</td>
                    <td>
                        <a class="btn btn-xs btn-warning" href="{{ path('admin_notifications_edit', {id: note.id}) }}">edit
                            <span class=" fa fa-pencil"></span></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

