.d-flex-r {
    display: flex;
    flex-direction: row;

    flex-wrap: wrap;
    justify-content: center;
}

.d-flex-gallery {
    display: flex;
    flex-direction: row;

    margin: auto;

    flex-wrap: wrap;
    justify-content: center;
}

body {
    position: relative;

    display: flex;
    flex-direction: column;

    min-height: 100vh;
    margin: 0;
    padding: 0;

    font-size: 18px;

    color: #fff;
    background: #171717;

    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

.clearfix:after {
    display: table;
    clear: both;
    content: "";
}

/* menu btn */

.cmn-toggle-switch {
    position: absolute;
    z-index: 20;
    top: 27px;
    right: 0;

    display: block;
    overflow: hidden;

    width: 65px;
    height: 65px;
    margin: 0;
    padding: 0;

    font-size: 0;

    cursor: pointer;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    text-indent: -9999px;

    border: none;
    /*border-radius: 0;*/
    box-shadow: none;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.cmn-toggle-switch:focus {
    outline: none;
}

.cmn-toggle-switch span {
    position: absolute;
    top: 30px;
    right: 11px;
    left: 11px;

    display: block;

    height: 6px;

    background: white;
}

.cmn-toggle-switch span::before,
.cmn-toggle-switch span::after {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 6px;

    content: "";

    background-color: #fff;
}

.cmn-toggle-switch span::before {
    top: -15px;
}

.cmn-toggle-switch span::after {
    bottom: -15px;
}

.cmn-toggle-switch__htx {
    background-color: transparent;
}

.cmn-toggle-switch__htx span {
    -webkit-transition: background 0 0.3s;
    transition: background 0 0.3s;
}

.cmn-toggle-switch__htx span::before,
.cmn-toggle-switch__htx span::after {
    -webkit-transition-delay: 0.3s, 0;
    transition-delay: 0.3s, 0;
    -webkit-transition-duration: 0.3s, 0.3s;
    transition-duration: 0.3s, 0.3s;
}

.cmn-toggle-switch__htx span::before {
    -webkit-transition-property: top, -webkit-transform;
    transition-property: top, transform;
}

.cmn-toggle-switch__htx span::after {
    -webkit-transition-property: bottom, -webkit-transform;
    transition-property: bottom, transform;
}

.cmn-toggle-switch__htx.active {
    background-color: transparent;
}

.cmn-toggle-switch__htx.active span {
    background: none;
}

.cmn-toggle-switch__htx.active span::before {
    top: 0;

    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.cmn-toggle-switch__htx.active span::after {
    bottom: 0;

    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.cmn-toggle-switch__htx.active span::before,
.cmn-toggle-switch__htx.active span::after {
    -webkit-transition-delay: 0, 0.3s;
    transition-delay: 0, 0.3s;
}

/* menu btn end */

/* HEADER */

header {
    position: relative;
    width: 100%;
    height: 146px;
    background: url("../img/header.jpg") center top repeat-x;
}

.location {
    position: absolute;
    top: 40px;
    left: 30px;
    display: block;
    color: #fff;
}

.location .fa-map-marker {
    margin-right: 15px;
    font-size: 40px;
    color: #fff;
}

.location:hover,
.location:focus {
    text-decoration: none;
    color: #fff;
}

.city-list {
    position: absolute;
    z-index: 30;
    top: 60px;
    left: 70px;
    display: none;
    width: 175px;
    padding: 0;
    list-style: none;
    text-align: left;
    background: rgba(0, 0, 0, 0.8);
}

.city-list a:hover,
.city-list a:focus {
    text-decoration: none;
    color: #ec971f;
}

.city-list li {
    padding: 5px;
}

.city-list a {
    display: block;
    color: #fff;
}

.logo-container {
    text-align: center;
}

.logo-container img {
    width: 264px;
}

.dotted-line {
    height: 23px;
    background: url("../img/line.png") repeat-x;
}

.callback {
    position: absolute;
    top: 10px;
    right: 300px;
    color: #fff;
}

.lang {
    position: absolute;
    top: 120px;
    right: 0;
    color: #fff;
}

.lang-list {
    padding: 0;
    list-style: none;
}

.lang-list li {
    display: inline-block;
    width: 40px;
    height: 30px;
    margin-right: 5px;
}

.lang-list a {
    display: block;
    width: 100%;
    height: auto;
}

/* HEADER end */

/* MENU */

.open-menu {
    position: fixed;
    z-index: 9;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    opacity: 0.7;
    background-color: #212127;
}

.main-menu {
    position: fixed;
    z-index: 10;
    top: 0;
    right: -300px;
    width: 300px;
    height: 100%;
    padding-top: 146px;
    background: rgba(0, 0, 0, 0.8);
}

.main-menu a:hover {
    text-decoration: none;
    color: #ec971f;
}

.main-menu ul {
    list-style: none;
}

.main-menu li {
    height: 40px;
}

.main-menu a {
    display: block;

    width: 100%;
    padding: 10px;

    font-size: 22px;

    color: #fff;
}

.main-menu .callback-menu {
    margin-top: 30px;
}

/* MENU end*/

/* CONTENT */

.content {
    width: 100%;

    background: url("../img/bg.jpg") center top;

    flex: 1;
}

/* slider */

.slider {
    margin-bottom: 50px;
}

.schedule-slider .slides {
    /*margin-top: 50px;*/
    color: #fff;
}

.slides li {
    text-align: center;
}

.slides h3 {
    text-align: center;
}

.main-slider img {
    height: 40vw;

    font-family: "object-fit: cover;";

    object-fit: cover;
}

/* slider end */

.calendar {
    font-size: 18px;

    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.calendar:hover {
    text-decoration: none;

    color: #ec971f;
    border: 1px solid #ec971f;
}

.sort-wrapper {
    position: relative;

    float: right;

    width: 230px;
    padding: 6px 12px;

    border: 1px solid #fff;
    border-radius: 5px;
}

.sort-wrapper:hover {
    cursor: pointer;

    color: #ec971f;
    border: 1px solid #ec971f;
}

.sort-wrapper .caret {
    position: absolute;
    top: 48%;
    right: 5%;
}

.sort-wrapper:after {
    content: "";
}

.sort-list {
    position: absolute;
    z-index: 30;
    top: 40px;
    right: 0;

    display: none;

    width: 230px;
    padding: 10px;

    list-style: none;

    text-align: left;

    background: rgba(0, 0, 0, 0.8);
}

.sort-list a:hover,
.sort-list a:focus {
    text-decoration: none;

    color: #ec971f;
}

.sort-list li {
    padding: 5px;
}

.sort-list a {
    display: block;

    color: #fff;
}

.radio-item {
    display: inline-block;

    margin-left: 20px;

    cursor: pointer;
}

.radio-item:first-child {
    margin-left: 0;
}

/* gallery */

.gallery {
    margin-top: 50px;
    margin-bottom: 50px;
}

.gallery-item {
    margin-bottom: 25px;
}

.photo-gallery-item img {
    width: 240px;
    height: 180px;
}

.gallery-item .zoom {
    transition: all 0.5s ease-out;
}

.gallery-img-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0;
}

.gallery-img-container .img-responsive {
    width: 100%;
}

.img-hover {
    position: absolute;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    background-color: rgba(28, 104, 189, 0.6);
}

.gallery-item:hover .zoom {
    transform: scale(1.1);
}

.gallery-item:hover .img-hover {
    display: block;
}

.gallery-item:hover .hover-text {
    display: block;
}

.gallery-item:hover .game-logo {
    display: none;
}

.gallery-item:hover .game-title {
    display: none;
}

.game-logo {
    position: absolute;
    top: 50%;
    left: 50%;

    height: 25%;

    transform: translate(-50%, -50%);
}

.game-title {
    position: absolute;
    top: 70%;

    width: 100%;

    text-align: center;
}

.game-title p {
    display: inline-block;

    padding: 10px;

    font-size: 14px;
    font-weight: 300;

    text-transform: uppercase;

    border-radius: 10px;
    background: rgba(193, 193, 193, 0.3);
}

.game-title-hover {
    position: absolute;
    top: 50%;

    width: 100%;

    transform: translateY(-50%);
    text-align: center;
}

.game-title-hover p {
    display: inline-block;

    padding: 10px;

    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 2px dotted #fff;
}

.hover-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100%;
}

.hover-text p {
    color: #fff;
}

.hover-text .game-img {
    height: 65px;
    margin-top: 10px;
    margin-left: 10px;
}

.hover-text .game-img img {
    height: 100%;
}

.hover-text .game-time {
    position: absolute;
    top: 10px;
    right: 10px;
    padding-top: 45px;
    font-size: 14px;
    color: #fff;
}

.hover-text .game-time .game-time-img {
    position: absolute;
    top: 0;
    right: 6px;
    width: 46px;
    height: 45px;
    background: url('../img/time-white.png') no-repeat;
}

.hover-text .game-man {
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    color: #fff;
}

.hover-text .game-man .game-man-img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 130px;
    height: 30px;
    background: url('../img/men-white-empty.png') no-repeat;
}

.hover-text .game-man .game-man-img .game-man-full {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 130px;
    height: 30px;
    background: url('../img/men-white-full.png') no-repeat;
}

.hover-text .game-complexity {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding-bottom: 30px;
    font-size: 14px;
    color: #fff;
}

.hover-text .game-complexity .game-complexity-img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 43px;
    height: 30px;
    background: url('../img/complexity-white-empty.png') no-repeat;
}

.hover-text .game-complexity .game-complexity-img .game-complexity-full {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 43px;
    height: 30px;
    background: url('../img/complexity-white-full.png') no-repeat;
}

/* gallery end*/

.info {
    margin-bottom: 50px;
}

/* CONTENT end */

/* FOOTER */

footer {
    width: 100%;
    min-height: 100px;
    padding: 10px;
    background: url("../img/footer-bg.jpg") center top;
}

footer a:hover {
    text-decoration: none;
    color: #ec971f;
}

footer p {
    margin-top: 10px;
}

footer a {
    color: #fff;
}

.footer-menu {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.footer-menu a:hover {
    border-color: #ec971f;
}

.footer-menu li {
    display: inline-block;
}

.footer-menu a {
    display: block;
    width: 48px;
    font-size: 30px;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 50%;
}

.copy {
    margin-top: 15px;
}

/* FOOTER end */

/* ROOM */

.schedule-slider .schedule {
    margin-top: 50px;
    margin-bottom: 50px;
}

.schedule .custom-controls ul {
    margin-top: 30px;
}

.schedule .custom-controls li {
    cursor: pointer;
    margin: 4px 10px;
}

.schedule .custom-controls li.flex-active {
    color: #ec971f;
}

.schedule .custom-controls li:hover {
    text-decoration: underline;
}

td,
th {
    text-align: center;
}

td div {
    border-radius: 10px;
}

th:hover {
    cursor: default;
}

.feedbacks {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.show-results {
    margin-top: 30px;
}

.room {
    position: relative;
    text-shadow: 0 0 3px black;
}

.room-left-panel .game-complexity {
    position: relative;
}

.room-left-panel .game-complexity .game-complexity-img {
    position: absolute;
    top: 28px;
    left: 8px;
    width: 43px;
    height: 50px;
    background: url('../img/complexity-orange-empty.png') no-repeat;
}

.room-left-panel .game-complexity .game-complexity-img .game-complexity-full {
    position: absolute;
    height: 50px;
    background: url('../img/complexity-orange-full.png') no-repeat;
}

.room-options {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #fff;
}

.room-options .team-results a {
    color: white;
    cursor: pointer;
}

.room-options .team-results a:hover {
    color: #ec971f;
}

.room-options .game-man,
.room-options .game-time {
    position: relative;
    margin-top: 12px;
}

.room-options .game-man .game-man-img {
    position: absolute;
    top: -4px;
    left: 8px;
    width: 43px;
    height: 50px;
    background: url('../img/men-orange-empty.png') no-repeat;
}

.room-options .game-man .game-man-img .game-man-full {
    position: absolute;
    height: 50px;
    left: 0;
    background: url('../img/men-orange-full.png') no-repeat;
}

.room-options .game-time .game-time-img {
    position: absolute;
    top: -4px;
    left: 8px;
    width: 30px;
    height: 30px;
    background: url('../img/time-orange.png') no-repeat;
    background-size: contain;
}

.room-options .game-time .game-time-text {
    margin-left: 45px;
}

@media only screen and (min-width: 570px) {

    .room-options .team-results {
        margin-left: 8px;
        margin-top: 10px;
    }

    .room-right-panel .glyphicon.right {
        display: inline-block;
    }

    .room-right-panel .glyphicon.left {
        display: none;
    }
}

.room-left-panel {
    position: absolute;
    top: 20px;
    left: 20px;
}

.room-left-panel h3 {
    text-transform: uppercase;
}

.average-time {
    position: absolute;
    top: 20px;
    right: 20px;
}

.room-right-panel {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
}

.room-images {
    display: block;
    width: 100%;
    height: auto;
}

.schedule-slider {
    position: relative;
    background: none;
}

.review {
    text-align: left;
}

.review .avatar {
    width: 50px;

    opacity: 0.9;
}

.review .avatar:hover {
    opacity: 1;
}

.review-name {
    font-size: 22px;

    color: #f0ad4e;
}

.review-name:hover {
    color: #ec971f;
}

.review-date {
    float: right;
    font-size: 14px;
    line-height: 24px;
}

/* form-reservation */

.form-reservation {
    margin-bottom: 70px;
}

.form-reservation h2 {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.form-reservation input,
.form-reservation select {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px 10px;
    color: #ddd;
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.form-reservation option {
    background-color: #343434;
}

.form-reservation ul {
    list-style: none;
}

.color-orange,
.form-reservation i {
    color: #f0ad4e;
}

.form-reservation ul li {
    position: relative;
    padding: 0 0 12px 31px;
}

.form-reservation ul li i {
    position: absolute;
    left: 0;
    top: 0;
}

.form-reservation .form-middle {
    border-left: solid 1px gray;
    border-right: solid 1px gray;
}

.form-reservation img {
    margin: 32px 0;
    max-height: 180px;
    max-width: 180px;
}

.form-reservation .greeting-form {
    display: block;
}

.form-reservation .booking-form,
.form-reservation .result-form {
    display: none;
}

.form-reservation .input-group .input-group-btn button {
    margin-bottom: 8px;
}

.form-reservation ::-webkit-input-placeholder {
    color: #ddd;
}

.form-reservation ::-moz-placeholder {
    color: #ddd;
}

.form-reservation :-moz-placeholder {
    color: #ddd;
}

.form-reservation :-ms-input-placeholder {
    color: #ddd;
}

.form-reservation .btn-wrap {
    margin-top: 50px;
}

.gamers-wrap label {
    margin-left: 10px;
}

.form-reservation-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-reservation-row div.row > div:nth-child(2) {
    margin-bottom: 32px;
}

#price {
    font-weight: bold;
}

#result-form-price {
    font-weight: bold;
}

/* form-reservation end */

/* ROOM end*/

/* SCHEDULE */

.schedule h2 {
    text-transform: uppercase;
}

.schedule h2 a:hover {
    color: #ec971f;
}

.schedule h2 a {
    color: #fff;
}

.schedule .room-slides ul.slides {
    margin-top: 0;
}

/* SCHEDULE end */

/* MODAL #reservation */

.modal-content {
    color: #333;
    border-radius: 0;
}

.modal-content input {
    width: 100%;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
}

.modal-content label {
    margin-bottom: 0;
    font-weight: normal;
}

.modal-content input[type="radio"] {
    width: auto;
    margin-right: 15px;
}

.modal-header {
    color: #fff;
    background: #f0ad4e;
}

.close {
    opacity: 1;
    color: #fff;
}

.gamers-wrap {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.gamers-wrap label div {
    line-height: 20px;
}

/* MODAL #reservation end */

/* PHOTO_GALLERY start */

.photo-gallery {
    padding-top: 20px;
    padding-bottom: 20px;
}

.fancy {
    position: relative;
    display: block;
    border: 1px solid transparent;
}

.fancy:hover {
    border: 1px solid #ec971f;
}

.fancy:hover .photo-gallery-info {
    color: #ec971f;
}

.fancy:focus {
    outline: none;
}

.photo-gallery-info {
    padding: 0;
    margin: 4px 12px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    list-style: none;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 3px black;
}

.star-block {
    display: inline-block;
    margin-right: 20px;
    font-size: 14px;
    font-style: italic;
    line-height: 25px;
}

.star-block:last-child {
    float: right;
    margin-right: 0;
}

.star,
.time {
    margin-right: 1px;
    margin-left: 3px;
}

.review:not(:last-of-type) {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #fff;
}

.review-modal .modal-content {
    text-align: left;
}

.review-modal .modal-content input {
    width: 100%;
    margin-bottom: 20px;
}

.review-modal .modal-content .review-input-wrap {
    display: inline-block;
}

.review-modal .modal-content textarea {
    width: 100%;
    margin-bottom: 20px;
    resize: none;
    border: none;
    border-bottom: 1px solid #333;
    outline: none;
}

.rating-title {
    font-size: 14px;
    font-style: italic;
}

.atmosphere-rating,
.story-rating,
.service-rating {
    position: relative;
    top: -3px;
    margin-left: 10px;
    font-size: 20px;
    color: #ec971f;
}

/* PHOTO_GALLERY end */

.content-info {
    padding-top: 20px;
    padding-bottom: 30px;
}

.content-info h1 {
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.content-info ol {
    padding-left: 0;
    list-style-position: inside;
}

.content-info ol li {
    margin-bottom: 10px;
}

/*# sourceMappingURL=style.css.map */

.room-logo {
    max-width: 180px;
    max-height: 180px;
}

.room-description {
    max-width: 50%;
    margin-top: 50px;
}

@media only screen and (max-width: 1200px) {
    .callback {
        right: 200px;
    }
}

@media only screen and (max-width: 1100px) {
    .room-description,
    .room-right-panel {
        font-size: 14px;
    }
}

@media only screen and (max-width: 992px) {
    footer {
        text-align: center;
    }

    footer .copy p {
        text-align: center;
    }
}

@media only screen and (max-width: 960px) {
    .room-description {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .radio-wrapper {
        float: none;

        margin-top: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .radio-item {
        display: block;

        margin-top: 20px;
        margin-left: 0;
    }

    .room-logo {
        max-width: 70px;
        max-height: 70px;
    }
}

@media only screen and (max-width: 767px) {
    .gallery-img-container {
        max-width: 640px;
        height: auto;
    }
}

@media only screen and (max-width: 570px) {

    .room-right-panel .glyphicon.right {
        display: none;
    }

    .room-right-panel .glyphicon.left {
        display: inline-block;
    }

    .average-time,
    .room-complexity {
        display: none;
    }

    .room-options {
        margin-top: 30px;

    }

    .room-right-panel,
    .team-results {
        margin-top: 10px;
    }

    .room-options,
    .room-right-panel {
        position: static;
        display: block;
        text-align: center;
    }

    .room-options .game-man-img,
    .room-options .game-time-img {
        left: auto !important;
    }

    .time-to-play,
    .team {
        font-size: 14px;
    }

    .room h3 {
        font-size: 16px;
    }

    .room-logo {
        max-width: 50px;
        max-height: 50px;
    }

    /*.schedule-slider .flex-direction-nav .flex-prev {*/
    /*top: 0;*/
    /*}*/
    /*.schedule-slider .flex-direction-nav .flex-next {*/
    /*top: 0;*/
    /*}*/
}

@media only screen and (max-width: 480px) {
    .calendar {
        display: block;

        width: 100%;
        margin-bottom: 20px;
    }

    .sort-wrapper {
        float: none;

        width: 100%;
    }

    .sort-list {
        width: 100%;
    }
}

#google-maps {
    height: 450px;
}

.font-xxl {
    font-size: xx-large;
}

.font-xl {
    font-size: x-large;
}

.font-l {
    font-size: large;
}

.font-m {
    font-size: medium;
}

.font-s {
    font-size: small;
}

.font-xs {
    font-size: x-small;
}

.th-weekend {
    color: red;
}

.th-today {
    color: #ec971f;
}

.cell {
    white-space: nowrap;
    font-size: small;
    padding: 4px;
    cursor: pointer;
}

.cell:hover {
    text-decoration: underline;
}

.cell-today {
    background-color: rgba(255, 255, 255, 0.07);
}

.cell-time {
    vertical-align: middle !important;
}

.cell-expired {
    background-color: gray;
}

.cell-expired:hover,
.cell-time:hover {
    cursor: default;
    text-decoration: none;
}

.price-xs {
    background-color: #843d4c;
}

.price-s {
    background-color: #bfa54c;
}

.price-m {
    background-color: #629bb6;
}

.price-l {
    background-color: #75ae88;
}

.custom-danger {
    color: red !important;
    border-color: red !important;
    background: rgba(255, 0, 0, 0.1) !important;
}

.custom-success {
    color: green !important;
    border-color: green !important;
    background: rgba(0, 255, 0, 0.1) !important;
}

.block-layer {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999999;
}

.block-layer span.fa {
    margin-top: 45%;
    text-align: center;
}

.flash-modal-error {
    background-color: #f04e4e;
}

.flash-modal-success {
    background-color: #57d452;
}

.results-pagination {

}

.results-pagination .bordered {
    border: 1px solid white;
    border-radius: 8px;
    padding: 0;
    margin: 4px;
}

.results-pagination .bordered ul {
    margin: 4px;
}

.results-pagination .bordered > div:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.results-pagination .bordered > div:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.results-pagination .bordered .active {
    background: #f0ad4e;
}

.results-pagination .swing a {
    font-size: 18px;
    font-weight: bold;
    color: #f0ad4e;
}

.results-pagination .swing a:hover {
    font-size: 18px;
    font-weight: bold;
    color: #ec971f;
}

.results-pagination .swing a.disable {
    color: gray;
}

.results-pagination a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.results-pagination a.disable {
    color: gray;
    cursor: default;
    pointer-events: none;
}

.results-pagination .bordered > div {
    padding: 4px 0;
}

.results-pagination .bordered > div:hover a {
    color: #ec971f;
}

.results-pagination .bordered > div:hover {
    background: rgba(255, 255, 255, 0.1);
    color: #f0ad4e;
}

h1 a {
    color: white;
}

h1 a:hover {
    color: #ec971f;
}

.shares-slider {
    position: relative;
    margin-top: 24px;
    width: 85%
}

.shares-slider .flexslider {
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
}

.custom-navigation .flex-next {
    right: 30px;
}

.custom-navigation .flex-prev {
    left: 30px;
}

.custom-navigation a {
    position: absolute;
    top: 50%;
    margin: -25px 0;
    padding: 0;
    height: 50px;
    width: 50px;
    z-index: 99;
}

.custom-navigation a.flex-next {
    background: url("../img/nextCircle.png");
    background-size: cover;
}
.custom-navigation a.flex-prev {
    background: url("../img/prevCircle.png");
    background-size: cover;
}

.custom-navigation a.flex-next:hover {
    background: url("../img/next-circle-orange.png");
    background-size: cover;
}
.custom-navigation a.flex-prev:hover {
    background: url("../img/prev-circle-orange.png");
    background-size: cover;
}

.share-row {
    margin-top: 24px;
}

.share-row .share-description {
    margin: 12px auto 0 auto;
}

.share-row img,
.share-row .share-description {
    width: 85%;
}
