{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <a class="btn btn-danger pull-right" href="{{ path('admin_users_list') }}">Cancel</a>
    <h1 class="page-header">Edit User</h1>
    {{ include('AdminBundle:User:_form.html.twig') }}
{% endblock %}