<div class="modal fade" id="bookingModal" tabindex="-1" role="dialog" aria-labelledby="bookingModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Booking game</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-5 price-list">
                        <p class="game-date">Date: <span></span></p>
                        <p class="game-time">Time: <span></span></p>
                    </div>
                    <div class="col-sm-7">
                        <div class="input-group">
                            <input type="text" name="name" class="form-control" placeholder="Name">
                        </div>
                        <div class="input-group">
                            <input type="text" name="secondName" class="form-control" placeholder="SecondName">
                        </div>
                        <div class="input-group">
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                        <div class="input-group">
                            <input type="text" name="phone" class="form-control" placeholder="Phone">
                        </div>
                        <div class="input-group">
                            <input type="text" name="discount" class="form-control" placeholder="Discount">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Book game <i class="hidden fa fa-spinner fa-pulse fa-1x fa-fw"></i></button>
            </div>
        </div>
    </div>
</div>