{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <a class="btn btn-danger pull-right" href="{{ path('admin_blanks_list', {slug: room.slug}) }}">Cancel</a>
    <h1 class="page-header">Edit Price</h1>
    {{ include('AdminBundle:Price:_form.html.twig') }}
{% endblock %}