{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <a class="btn btn-danger pull-right" href="{{ path('admin_genres_list') }}">Cancel</a>
    <h1 class="page-header">Add Genre</h1>
    {{ form_start(genreForm) }}
        {{ form_widget(genreForm) }}
    {{ form_end(genreForm) }}
{% endblock %}