{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <a class="btn btn-danger pull-right" href="{{ path('admin_genres_list') }}">Cancel</a>
    <h1 class="page-header">Edit Genre</h1>
    {{ include('AdminBundle:Genre:_form.html.twig') }}
{% endblock %}

