{% extends 'AdminBundle:layouts:main.html.twig' %}

{% block body %}
    <a class="btn btn-danger pull-right" href="{{ path('admin_rooms_list') }}">Cancel</a>
    <h1 class="page-header">Add Room</h1>
    {{ include('AdminBundle:Room:_form.html.twig') }}
{% endblock %}